<section class="experience" aria-labelledby="experience-heading">
    <h2 id="experience-heading"><i class="fas fa-briefcase icon-heading"></i> Experiencia</h2>
    <article class="experience-item" *ngFor="let job of experienceList">
        <h3>{{ job.title }}</h3>
        <p class="company">{{ job.company }}</p>
        <p class="dates">{{ job.dates }}</p>
        <ul>
            <li *ngFor="let responsibility of job.responsibilities">{{ responsibility }}</li>
        </ul>
    </article>
</section>